body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color:white;
    font-weight: bold;
    padding-left: 200px;
    padding-right: 200px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    margin-left: auto;
    display: flex;
    gap: 30px;
}

.link-one,
.link-two,
.link-three {
    font-weight: normal;
}

.awesome {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 200px;
    gap: 80px;
}

.left-awesome {
    flex-wrap: wrap;
}

.heading {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.title-subtext {
    font-size: 18px;
    color: #E5e7eb;
}

button {
    background-color: #3882f6;
    border-style: none;
    color: white;
    margin: 3px;
    padding: 3px 20px;
    border: 0;
    border-radius: 5px;
}

.right-awesome img {
    width: 600px;
    height: 300px;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-heading {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 25px;
}

.four-sections {
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    padding: 0 300px 80px 300px;
}

.four-sections img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.quote {
    background-color: #E5e7eb;
    color: #1f2937;
    font-size: 36px;
    padding: 100px 300px;
    display: flex;
    flex-direction: column;
}

.quote .quotee {
    font-weight: bold;
    margin-left: auto;
}

.action {
    background-color: #3882f6;
    color: white;
    font-size: 20px;
    padding: 30px 80px;
    margin: 80px 200px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-right button {
    border-style: solid;
    border-color:#E5e7eb;
    border-width: 2px;
    font-size: 20px;
    padding: 3px 30px;
}

.footer p {
    background-color: #1f2937;
    color:#E5e7eb;
    padding: 30px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}